.carousel {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;


  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #5c2523;
  }
  mat-card {
    background-color: #7a4a4a; // Remove white background
  }
  .slide-container {
    justify-content: flex-end;
    text-align: center;
    cursor: pointer;
    background-color: transparent; // Remove white background
    padding: 1rem; // Add padding for better spacing
    border-radius: 8px; // Optional: Add rounded corners
    max-width: 300px;
    img {
      width: 100%;
      max-width: 300px; // Set a reasonable max-width
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    p {
      color: #bd807d;
    }

    .price {
      color: #d9534f;
      font-weight: bold;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem; // Add padding for better click area
    border-radius: 50%; // Make buttons circular
    transition: background-color 0.3s ease; // Add smooth hover effect

    &:hover {
      background-color: rgba(0, 0, 0, 0.1); // Light background on hover
    }

    mat-icon {
      font-size: 2rem;
      color: #973c39; // Match the theme color
    }
  }
}
