<section class="feature-pizzas">
    <div class="container">
    <h2>Our Featured Pizzas</h2>
        <div class="pizza-list">
            <div class="pizza-item" *ngFor="let pizza of pizzas">
                <h3>{{pizza.id}}</h3>
                <img [src]="pizza.image" alt="pizza.name"/>
                <h3>{{pizza.name}}</h3>
                <p>{{pizza.description}}</p>
                <p>Price: $ {{pizza.price}} <button (click)="onPurchase(pizza.id)">purchase</button></p>
    </div>
        </div>
            </div>