/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

header {
  font-family: "Lobster", cursive;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 2em;
}

body {
  html,
  body {
    height: 100%;
  }

  background-color: #d9534f;
  color: #f4e9cd;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
}
.floatRight {
  float: right;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}
.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}
.mb-25 {
  margin-bottom: 25px;
}

.wrap {
  flex-wrap: wrap;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
