<!DOCTYPE html>
<div class="home">

    <!--Hero Section-->
    <section class="hero">
        <div class="container">
        <h1>Welcome to the Pizzaria Pizza(named pizza)</h1>
        <p>Order Our favorite Pizza from our <a routerLink="/menu" routerLinkActive="router-link-active">Menu</a></p>
    </div>
    </section>


    <section class="about">
        <div class="container">
        <h2>About us</h2>
        <a>We are a family-owned Pizzeria dedicated to serving the best pizzas in town. Our ingredients are fresh, and our recipes are crafted with passion</a>
        </div>
    </section>
    
</div>
