<!DOCTYPE html>
<div class="home">

    <!--Hero Section-->
    <section class="hero">
        <div class="container">
        <h1>Welcome to the Pizzaria Pizza(named pizza)</h1>
        <app-carousel></app-carousel>
    </div>
    </section>
    <section class="about">
        <div class="container">
        <h2>About us</h2>
        <p>We are a family-owned Pizzeria dedicated to serving the best pizzas in town. Our ingredients are fresh, and our recipes are crafted with passion</p>
        </div>
    </section>
    
</div>
